<?xml version = "1.0"?>
<model>
    <name>IfcSlab_0_sr$tymnEIRuSropf$jB3</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Jan Stührenberg</name>
        <email>jan.stuehrenberg@tuhh.de</email>
    </author>

    <description>
        IfcSlab_0_sr$tymnEIRuSropf$jB3
    </description>
</model>
