<launch>

    <env name="GAZEBO_MODEL_PATH" value="$(find midog_gazebo)/models/sdf_models"/>
    <arg name ="extra_gazebo_args" default="--verbose"/>

    <!-- Empty World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find midog_gazebo)/worlds/normal.world"/>
      <arg name="use_sim_time" value="true"/>
      <arg name ="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    </include>

	
    <!-- Robot--> 
    <arg name="robot" default="$(find midog_description)/urdf/midog.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg robot)" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -z 0.5 -model midog_gazebo"/>
    
     <!-- Controllers -->
    <rosparam file="$(find midog_controller)/config/controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" ns="/midog"
          args="left_back_knee_joint_controller left_back_shoulder_joint_controller left_front_knee_joint_controller left_front_shoulder_joint_controller right_back_knee_joint_controller right_back_shoulder_joint_controller right_front_knee_joint_controller right_front_shoulder_joint_controller"/>

    <!-- Robot State Publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher" respawn="false" output="screen">
      <remap from="/joint_states" to="/midog_gazebo/joint_states" />
      <param name="publish_frequency" type="double" value="10" />
    </node>
    
    <node name="tag_spawn" pkg="gazebo_ros" type="spawn_model"
    	args="-sdf -file $(find midog_gazebo)/models/sdf_models/tag36_11_00127/model.sdf
    	-model tag_127
    	-x 0.1 -y 0.3 -z -0.5
  	-R 0.9 -P 0.2 -Y 2.4" />
</launch>
