<?xml version = "1.0"?>
<model>
    <name>IfcWindow_0S_JsK2z1DqQcF8hghrJUD</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Jan Stührenberg</name>
        <email>jan.stuehrenberg@tuhh.de</email>
    </author>

    <description>
        IfcWindow_0S_JsK2z1DqQcF8hghrJUD
    </description>
</model>
