<?xml version = "1.0"?>
<model>
    <name>IfcWall_2UxgaYW9P3wgkMtEPd5hno</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Jan Stührenberg</name>
        <email>jan.stuehrenberg@tuhh.de</email>
    </author>

    <description>
        IfcWall_2UxgaYW9P3wgkMtEPd5hno
    </description>
</model>
